.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: var(--main-bgc);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.gallery__link {
  display: inline-block;
  width: 100%;
  margin-right: 0;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-thumb__desc {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-color-text);
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;

  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);

  padding-top: 64px;
  padding-right: 24px;
  padding-bottom: 64px;
  padding-left: 24px;

  .gallery-list__item:hover &,
  .gallery-list__item:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay-thumb__text {
  width: 100%;
  height: 100%;
}

.gallery__descr {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.gallery__caption {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__filter-point {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
