.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &-container {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }
  }
}
