.footer-contacts {
  min-width: 231px;
  margin-right: 70px;
}

.footer-contacts__list {
  display: block;
}

.footer-contacts__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 9px;
}

.footer-contacts__address-link {
  display: inline-block;

  color: var(--accent-color-text);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts__link {
  display: inline-block;

  color: rgba(255, 255, 255, 60%);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
