body {
  background-color: var(--main-bgc);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.link {
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color-background);
  }
}

.title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
