.header-contacts {
  display: inline-block;
  margin-left: auto;

  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
}

.header-contacts__item {
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include mq(tablet-only) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include mq(desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header-contacts__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__icon {
  fill: currentColor;

  margin-right: 8px;
  @include mq(desktop) {
    margin-right: 10px;
  }

  transition: fill var(--transition-duration) var(--transition-timing-function);

  .header-contacts__link:hover &,
  .header-contacts__link:focus & {
    fill: var(--accent-color-background);
  }
}
