.header {
  border-bottom: 1px solid #ececec;

  &-container {
    display: none;

    @include mq(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
