@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Regular.woff2), url(../../fonts/Roboto-Regular.woff);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Medium.woff2), url(../../fonts/Roboto-Medium.woff);
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Bold.woff2), url(../../fonts/Roboto-Bold.woff);
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Black.woff2), url(../../fonts/Roboto-Black.woff);
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway';
  src: url(../../fonts/RalewayThin-Bold.woff2), url(../../fonts/RalewayThin-Bold.woff);
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
