:root {
  --primary-font: Roboto, sans-serif;

  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-text: #ffffff;

  --main-bgc: #ffffff;
  --accent-color-background: #2196f3;
  --secondary-bgc: #f5f4fa;
  --fill-svg: #afb1b8;
  --interactive-background-color: #188ce8;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
